<html>
  <body>
    Hello $name!
    <table>
      #foreach ($task in $tasks)
        #parse("task.vm")
      #end
    </table>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.0.3.min.js"></script>
</html>